.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #000000;
}

.footer-connect-logo {
    height: 30px;
    border-radius: 40px;
    margin-left: 10px;
}

.footer p {
    line-height: 15px;
    color: #ABAFB5;
    font-size: 0.8rem;
}

.footer h4 {
    color: #ffffff;
    margin-top: 30px;
}

#footer-logo {
    width: 150px;
    margin-top: 30px;
}


@media(max-width : 730px) {
    #footer-logo {
        display: none;
    }
}

@media(max-width : 300px) {
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}